<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let items of longText" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%" >
  <mat-card >
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-title>Who am I?</mat-card-title>
    <mat-card-content>
      <p>{{ items }}</p>
      <!-- <p>My name is Jordan Herman, and I am currently an undergraduate student at the University of Cincinnati. I am currently majoring in computer engineering and minoring in computer science at the College of Engineering and Applied Science. My goal in life is to digitally create the future and bring as many people with me as possible. My action statement is, "The more the Marrier", this statement helps me to seek to meet as many people as possible and educate those I meet on the uses and benefits that the digital age has to offer. Along the way I hope to work on different engineering and design teams to create the future. I picture a future that looks like Marty McFly’s (from Back to the Future) future with hover boards, holograms, flying autonomous cars, etc. My goal with computer engineering is to help innovate the digital world and make access to information even easier than it already is.</p> -->
    </mat-card-content>
  </mat-card>
  </div>
  </div>
  </div>

  <mat-card>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
      <p>{{ longText }}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
