<h2>Jordan Herman</h2>
<h5>Email: HermanJG@mail.uc.edu</h5>
<h5>Cell Phone: 614.867.7292</h5>
<h4>Education</h4>
<hr>
<div>
    <h4>University of Cincinnati &nbsp; Class of 2025</h4>
</div>
<ul>
    <li>College of Engineering and Applied Science &nbsp; GPA 3.115/4.0</li>
    <li>Bachelor of Science in Computer Engineering</li>
</ul>
<div>
    <h4>Bexley High School &nbsp; Class of 2020</h4>
</div>
<ul>
    <li>Cum Laude &nbsp; GPA 3.6/4.0</li>
</ul>
<h4>Projects</h4>
<hr>
<div>
    <h4>Bexley CitySchools Robotics Teams &nbsp; 2016-2020</h4>
</div>
<ul>
    <li>Captain of Bexley High School Robotics Team &nbsp; 2017 - 2020</li>
    <li>Lead team in building, pogramming, and competing in five Vex Robotics Competitions</li>
</ul>
<h4>Skills</h4>
<hr>
<h5>HTML, CSS, JavaScript, VBA, TypeScript, Angular, C++, Autodesk Inventor, Java, Python, BayMax, NI LabView, MatLab, Agile Methodologies, Microsoft Office (Word, Excel, PowerPoint)</h5>
<h4>Work Experience</h4>
<hr>
<div>
    <h4>BMW Group, Spartanburg, SC &nbsp; August 2021 -</h4>
</div>
<div>
    <h5>Global Digital Solutions Co-Op &nbsp; December 2021</h5>
</div>
<ul>
    <li>Collaborate with a team to develop UI/UX web applications using agile methodologies</li>
</ul>
<div>
    <h4>Kroger, Columbus and Cincinnati, OH &nbsp; April 2020 - Present</h4>
</div>
<div>
    <h5>E-commerce; Lead &nbsp; August 2020 - August 2021</h5>
</div>
<ul>
    <li>Direct and supervise staff, train and ensure best practices and standard operating procedures, delivered excellent customer service, assisted and addressed customer questions and complaints</li>
</ul>
<div>
    <h5>Front-End; Courtesy Clerk &nbsp; April 2020 - August 2020</h5>
</div>
<ul>
    <li>Bagged groceries, retrieved loose carts from parking lot, and performed janitorial services, including cleaning bathrooms, shopping carts, and store</li>
</ul>
<div>
    <h4>Jewish Community Center, Columbus, OH &nbsp; June 2017 - June 2020</h4>
</div>
<div>
    <h5>Youth Worker &nbsp; 2019-2020</h5>
</div>
<ul>
    <li>Supervised elementary-school youth in after school programs and school break activities</li>
</ul>
<div>
    <h5>Camp Counselor &nbsp; 2017 - 2020</h5>
</div>
<ul>
    <li>Engaged and lead elementary-school youth in summer camp activities, CPR and Ropes Course Certified</li>
</ul>
<h4>Activities and Volunteer Experience</h4>
<hr>
<h4>College</h4>
<ul>
    <li>CEAS Tribunal Freshman Executive Board (2020 - 2021) – Outreach Chair (2020 - 2021); Hillel (2020 - present) – Executive Board Secretary (2021 - Present)</li>
</ul>
<h4>High School</h4>
<ul>
    <li>Robotics Team (2016 – 2020); Varsity Bowling (2017 – 2020); Marching Band (2017 – 2019); Superintendents Student Advisory Council (2017 – 2019); Wexner Service Corps (2018 – 2020 – provided over 150 hours of volunteer service)</li>
</ul>